@import '../../styles/config/breakpoints';
@import '../../styles/config/colors';

.smallInfo {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
        color: $color-text;
    }

    &__secondary {
        background-color: $color-secondary;
        padding: .5rem 1.5625rem;
        border-radius: .5rem;
    }
}

@media all and (min-width: $breakpoint-desktop) {
    .smallInfo {
        padding: 2.5625rem 1.6875rem;
    }
}