@import '../../styles/config/colors';
@import '../../styles//config/special';

.recentEvents {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        text-align: center;
        margin-bottom: 5.25rem;
        color: $color-text;
    }

    &__event {
        display: flex;
        justify-content: space-between;
        border: .0625rem solid;
        border-color: $color-third;
        border-radius: .5rem;
        padding: 1rem 1.875rem;
        color: $color-text;
        box-shadow: $shadow;

        p {
            margin: 0;
        }

        margin-bottom: 1.125rem;
    }
}