@import '../../styles/config/colors';
@import '../../styles//config/special';
@import '../../styles/config/breakpoints';

.recentEvents {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        text-align: center;
        margin-bottom: 2rem;
        color: $color-text;
    }

    &__event {
        display: flex;
        justify-content: space-between;
        border: .0625rem solid;
        border-color: $color-third;
        border-radius: .5rem;
        padding: 1rem 1.875rem;
        color: $color-text;
        box-shadow: $shadow;
        text-decoration: none;
        transition: all 150ms;

        p {
            margin: 0;
            padding-left: .75rem;
        }

        margin-bottom: 1.125rem;

        &:hover {
            transition: all 150ms;
            animation-direction:alternate;
            scale: 1.025;
            border-color: $color-secondary;
        }
    }
}

@media all and (min-width: $breakpoint-tablet) {
    .recentEvents {
        &__title {
            margin-bottom: 3.5rem;
        }
    }
}
