@import './config/colors';

html,
body {
  background-color: $color-bg-gray;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}